.smallTextContainer{
    height:12svh;
    width: 33vw;
}

.large{
    font-size: 6svh;
}

.calendars{
    display: flex;
    justify-content: space-evenly;
}
.yearsText{
    
}

.yearsContainer{
    width: 100%;
    left:0;
    right:0;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    max-width: 100svh;
    height: 15svh;
    margin: auto;
}

.facts{
    display: flex;
}

