.smallTextContainer{
    height:12vh;

    width: 33vw;
}

.large{
    font-size: 6vh;
}

.calendars{
    display: flex;
    justify-content: space-evenly;
}
.yearsText{
    font-size: 2vh
}

.yearsContainer{
    width: 100%;
}

.facts{
    display: flex;
}

