.smallTextContainer{
    height:12dvh;
    width: 33vw;
}

.large{
    font-size: 6dvh;
}

.calendars{
    display: flex;
    justify-content: space-evenly;
}
.yearsText{
    font-size: 2vh
}

.yearsContainer{
    width: 100%;
    position: relative;
    max-width: 100dvh;
    height: 15dvh;
    margin: auto;
}

.facts{
    display: flex;
}

