.header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bow{
    position: absolute;
    z-index: 301;
    top:-3vh;
    margin:auto;
    max-width: 10vh;
}

.photo{
    position: relative;
    top:0;
    bottom:0;
    left:1vh;
    z-index: 200;
    margin: auto 5vw auto 3vw;
}
.headerTitle{
    font-size: 6.5vmin;  
    text-align: justify;
    text-align-last: left;
}

img{
    width:10vh;
    height:10vh;
    object-fit: cover;
}