.header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100dvh;
    margin: auto;
}
 
.bow{
    position: absolute;
    top:-3dvh;
    margin:auto;
    max-width: 10dvh;
    z-index: 10;
}

.photo{
    position: relative;
    top:0;
    bottom:0;
    left:1dvh;
    margin: auto 5vw auto 3vw;
}
.headerTitle{
    font-size: 6.5vmin;  
    text-align: justify;
    text-align-last: left;
}

img{
    width:10dvh;
    height:10dvh;
    object-fit: cover;
}