.section{
    color:#fff;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    transition: all 2s;
    left:0;
    overflow: hidden;
}

.spacer-top{
    max-height: 10px;
    width: 100%;
    height:10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    position: absolute;
    top:0;
    z-index: 4;
}

.layer0{
    background-image: url('./wave0.svg');
}

.layer1{
    background-image: url('./wave1.svg');
}

.layer2{
    background-image: url('./wave2.svg');
}

.layer3{
    background-image: url('./wave3.svg');
}

.layer4{
    background-image: url('./wave4.svg');
}

.layer5{
    background-image: url('./wave5.svg');
}


h1{
    position: relative;
    padding: 2svh 4vw 2svh 4vw;
    z-index: 12;
    opacity: 0;
}

select{
    height: 40%;
    width: 10vw;
}

.abt{
    text-decoration: none;
    color:#333;
    font-size: 2svh;
    font-weight: bold ;
}

.abtLink{
    text-decoration: none;
    color:#333;
    font-size: 2.2svh;
    font-weight: bold ;
    margin-right:20px;
    padding-right:20px;
    transition-duration: .3s;
}

.abtLink:hover {
    color:#555;
    font-size: 3svh;
    transition-duration: .2s;
  }

.button{
    color:#eee;
    position: relative;
    font-size: 1rem;
    padding: 1rem;
    background-color: #5857F3;
    border-radius: .5em;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;
    transition: all .25s ease-in-out;
    height: 6svh;
  }
  
  .button:hover{
    background-color: #0a22ba;
  }