@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}
    
div.container{
    background-color: #191414;
    width: 100%;
    height: 100vh;
    padding: 24vh 10vw;
}

.logIn{
    color:#1DB954;
    font-size: 1.3rem;
    padding: 1rem;
    background-color: #272727;
    max-width: 200px;
    border-radius: .5em;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;
    transition: all .25s ease-in-out;
}

.logIn:hover{
  background-color: #444;
}

.title{
    color: #1DB954;
    max-width: 20eom;
    max-height: 20%;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.tagline{
  color: #1DB954;
  font-size: 1.5rem;
  margin: 3vh 0vw 8vh 0vw;
}

.title img{
    width: 2.6em;
    height: 2.6em;
}

.content{
  width: 100%;
  height: 100vh;
}
