.textContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex:1;
    padding-left: 3vw;
}

.largeText{
    font-size: 5vh;
    text-overflow: ellipsis;
}

.sideText{
    font-size: 3vh;
    width:100%
}

.leftSide{
    position: relative;
    margin-top: 5vh;
}

.crown{
    position: absolute;
    top:-4vh;
    left:-1.5vh;
}

.halo{
    position: absolute;
    left:-.75vh;
    top:-.75vh;
}

.albums{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.album{
    position: relative;
    margin-top: 1.5vh;

}

.factHolder{
    display: flex;
    align-items: center;
}  
.fact{
    width:50%;
}