@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
  margin: 0;
}

.container{
  background-color: #177156;
  width: 100%;
  height: 100vh;
  padding: 2vh 2vw;
  display: grid;
  background-color:#224b2b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title{
  position: absolute;
  font-size: 5.5vmin;
  font-weight: bold;
  color: #eee;
  text-align: left;
  max-width: 10%;
  max-height: 10% ;
}
    
.content{
  width: 100%;
  height: 100%;
}

svg{
  height: auto;
  max-width: 250px;
  left:0;
  right:0;
}

.box-top {  
  position: relative;
  margin-top: 17vh;
  z-index: 10;
  margin-bottom: 0;
}

.box-top2 {  
  position: relative;
  margin-top: 17vh;
  transition:all .5s ease-in-out;
  z-index: 3;
  animation: tilt-shaking 0.25s infinite;
}

.box-top3 {  
  position: relative;
  margin-top: 0vh;
  margin-bottom: 17vh;
  transition:all .5s ease-in-out;
  z-index: 3;
}

svg.spotify{
  position: absolute;
  top:-30%;
  width:40vw;
  max-width: 175px;
  height: auto;
  margin:auto;
  z-index: 2;
}

svg.spotify2{
  position: absolute;
  margin:auto;
  width:40vw;
  max-width: 175px;;
  height: auto;
  z-index:2;
  top:-16vh;
  left:0;
  transition: all .6s ease-in-out;
}

.present{
  position: relative;
  margin-top:-1vh;
  width:auto;
}

.box-bottom{
  z-index: 3;
  left:0;
  margin: auto;
  max-width: 250px;
  position: relative;
  margin-top: 0;
  transition: all .5s ease-in-out;
}


.logIn{
  color:#eee;
  position: relative;
  font-size: 1rem;
  padding: 1rem;
  background-color: #5857F3;
  max-width: 200px;
  border-radius: .5em;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
  transition: all .25s ease-in-out;
}

.logIn:hover{
  background-color: #0a22ba;
}

.tagline{
  color: #eee;
  font-size: 2.5vmax;
  right:0;
  margin: 3vh auto 3vh auto;
  font-weight: bold;
}

.about{
  padding: 10vh 0vw;
}

.noShadow{
  visibility: hidden;
  transition: all .1s ease-out;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}