@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
  margin: 0;
}

.container{
  background-color: #177156;
  width: 100%;
  height: 100svh;
  padding: 2vh 2vw;
  display: grid;
  background-color:#224b2b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
    
.content{
  width: 100%;
  height: 100%;
}

svg{
  max-width: 250px;
  left:0;
  right:0;
}

.box-top {  
  position: relative;
  margin-top: 17svh;
  z-index: 10;
  margin-bottom: 0;
  width:50svh;
  height: auto;
  opacity: 1;
  transition:all .5s ease-in-out;
}

.shake {  
  animation: tilt-shaking 0.25s infinite;
}

.open {  
  margin-top: 0svh;
  margin-bottom: 17svh;
  transition:all .5s ease-in-out;
  z-index: 3;
}

.spotify{
  position: absolute;
  top: 28svh;
  width:30svh;
  max-width: 175px;
  height: auto;
  margin:auto;
  z-index: 2;
}

.move{
  top:17.5svh;
  left:0;
  transition: all .6s ease-in-out;
}

.present{
  position: relative;
  margin-top:-2svh;
  width:auto;
  overflow: hidden;
}

.box-bottom{
  z-index: 3;
  left:0;
  margin: auto;
  max-width: 250px;
  position: relative;
  transition: all .5s ease-in-out;
  width:50svh;
  height: auto;
}

.logIn{
  color:#eee;
  position: relative;
  font-size: 1rem;
  padding: 1rem;
  background-color: #5857F3;
  max-width: 200px;
  border-radius: .5em;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
  transition: all .25s ease-in-out;
  z-index: 100;
  text-decoration: none;
  
}

.logIn:hover{
  background-color: #0a22ba;
}

.tagline{
  color: #eee;
  font-size: 2.5vmax;
  right:0;
  margin: 3svh auto 5svh auto;
  font-weight: bold;
}

.about{
  padding: 10vh 0vw;
}

.noShadow{
  opacity: 0;
  transition: all .3s ease-out;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.box-top:hover{
  opacity:0
}